<div class="text-center mb-5">
  <h1>Bienvenue sur l'app gestion de transports !</h1>
  <h4>Par Baptiste BEAUFRERE, Alexis PROD'HOMME, Souleymane THIAM et Mohamed AMINE EL GNAOUI</h4>
  <img src="../../assets/logo_gestion-transport.png" class="img-fluid" style="max-width: 40%;" alt="logo">
</div>

<h2>Informations techniques du backend</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Lien</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let link of links">
      <td>{{link.name}}</td>
      <td><a [href]="link.href">{{link.href}}</a></td>
    </tr>
  </tbody>
</table>
