<div class="row align-items-center mt-5 m-3">
  <div class="col-4">
        <img class="w-100" [src]="vehicule.photoUrl">
  </div>
  <div class="col-4">
        <table class="table text-centered w-max">
          <tbody>
            <tr>
              <th scope="row">Marque</th>
              <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
              <th scope="row">Modèle</th>
              <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
              <th scope="row">Catégorie</th>
              <td>{{ vehicule.categorie }}</td>
            </tr>
            <tr>
              <th scope="row">Statut</th>
              <td>{{ vehicule.statutVehicule }}</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="col-4">
    <div class="text-center">
        <button class="btn btn-primary" (click)='updateToReparation()'
        [disabled]="vehicule.statutVehicule == 'EN_REPARATION'">
        Mettre en réparation</button><br/>
        <button class="btn btn-primary mt-3 mb-3" (click)='updateToInService()'
        [disabled]="vehicule.statutVehicule == 'EN_SERVICE'">
        Mettre en service</button><br/>
        <button class="btn btn-danger" (click)='updateToOutOfService()'
        [disabled]="vehicule.statutVehicule == 'HORS_SERVICE'">
        Hors service</button>
      </div>
    </div>
</div>

<div class="card w-100">
  <div class="card-body">
    <h3 class="card-title">Réservations</h3>
    <table class="table table-striped w-max h-max">
      <thead>
        <tr>
          <th>Date / Heure début</th>
          <th>Date / Heure fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of vehicule.reservationsEntreprise">
          <td>{{reservation.dateDepart | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>{{reservation.dateArrivee | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
